/*
=====FONTS
*/
$titleFont: 'Montserrat', sans-serif;
$contentFont: 'Nunito Sans', sans-serif;

/*
=====COLORS
*/
$primaryColor: #e9e9e9;
$secondaryColor: #f8f9f9;
$altColor: #10c9c3;
$textColor: #787878;

/*
=====MARGIN
*/
$gutter: 6.25rem;
