.banner-wrapper {
    background: no-repeat center url("assets/img/background1.jpg");
    background-size: cover;
}

.navbar {
    font-family: $titleFont;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem $gutter;

    &__menu {
        display: flex;

        &-item {
            font-size: .75em;
            text-transform: uppercase;
            padding-left: 2rem;

            & > a:hover {
                color: $altColor;
            }
        }
    }    
}

.navbar__menu--icon {
    display: none;
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    z-index: 2;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 22px;
        height: 2px;
        background-color: #000;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-transition: background 0.5s steps(1, end);
        transition: background 0.5s steps(1, end);

        &::before, &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 22px;
            height: 2px;
            background-color: #000;
            -webkit-transform: translateY(-6px);
            -ms-transform: translateY(-6px);
            transform: translateY(-6px);
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
            -webkit-transform-origin: 100% 50%;
            -ms-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
        }

        &::after {
            -webkit-transform: translateY(6px);
            -ms-transform: translateY(6px);
            transform: translateY(6px);
        }
    }

    &:hover span::before {
        -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    &:hover span::after {
        -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
        transform: translateY(8px);
    }

    & svg {
        opacity: 0;
        fill: transparent;
        stroke-width: 2px;
        stroke: #000;
        stroke-dasharray: 22 230;
        -webkit-transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s,
            opacity 0.5s steps(1, end);
            transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s,
            opacity 0.5s steps(1, end);
    }

    &.is-opened span {
        -webkit-transition: background 0.5s steps(1, start);
        transition: background 0.5s steps(1, start);
        background-color: transparent;

        &::before {
            -webkit-transform: translateX(-3px) translateY(-8px) rotate(-45deg);
            -ms-transform: translateX(-3px) translateY(-8px) rotate(-45deg);
            transform: translateX(-3px) translateY(-8px) rotate(-45deg); 
        }

        &::after {
            -webkit-transform: translateX(-3px) translateY(8px) rotate(45deg);
            -ms-transform: translateX(-3px) translateY(8px) rotate(45deg);
            transform: translateX(-3px) translateY(8px) rotate(45deg);  
        }
    }

    &.is-opened svg {
        opacity: 0.3;
        -webkit-transition: opacity 0.5s steps(1, start);
        transition: opacity 0.5s steps(1, start);
        -webkit-animation: pathanimation 0.5s linear;
        animation: pathanimation 0.5s linear;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    &.is-closed svg {
        -webkit-animation: pathanimation-out 0.5s linear;
        animation: pathanimation-out 0.5s linear;
    }
}

@-webkit-keyframes pathanimation {
    40% {
        stroke-dasharray: 22 230;
    }

    60% {
        stroke-dashoffset: -65;
    }

    100% {
        stroke-dashoffset: -65;
        stroke-dasharray: 160;
    }
}
@keyframes pathanimation {
    40% {
        stroke-dasharray: 22 230;
    }

    60% {
        stroke-dashoffset: -65;
    }

    100% {
        stroke-dashoffset: -65;
        stroke-dasharray: 160;
    }
}
@-webkit-keyframes pathanimation-out {
    100% {
        stroke-dashoffset: 0;
    }

    60% {
        stroke-dasharray: 22 230;
    }

    40% {
        stroke-dashoffset: -65;
    }

    0% {
        stroke-dashoffset: -65;
        stroke-dasharray: 160;
    }
}
@keyframes pathanimation-out {
    100% {
        stroke-dashoffset: 0;
    }

    60% {
        stroke-dasharray: 22 230;
    }

    40% {
        stroke-dashoffset: -65;
    }

    0% {
        stroke-dashoffset: -65;
        stroke-dasharray: 160;
    }
}

.is-active {
    color: $altColor;
}

.banner {
    font-family: $titleFont;
    padding: 6rem $gutter 12rem $gutter;
    display: flex;
    justify-content: flex-end;

    &__title {
        font-size: 2.375em;
        line-height: 1.2;
    }

    &__text {
        font-family: $contentFont;
        font-size: 1.125em;
        color: $textColor;
        margin: 2.2rem 0;
        line-height: 1.75;
    }

    &__wrapper {
        width: 48%;
    }
}

.btn-primary {
    color: #fff;
    font-size: .75em;
    font-weight: 700;
    background-color: $altColor;
    text-transform: uppercase;
    letter-spacing: .12em;
    border: 2px solid $altColor;
    padding: 1.16rem 2.6rem;
    cursor: pointer;

    &:hover {
        color: $altColor;
        background: transparent;
        border: 2px solid $altColor;
    }
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .banner__wrapper {
        width: 68%;
    }
}

@media screen and (max-width: 875px) {
    .banner__wrapper {
        width: 100%;
    }
    .navbar__menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 8rem;
        text-align: center;
        background-color: rgba($altColor, .95);
    
        &.is-opened {
            display: block;
        }

        &-item {
            font-size: 1.02em;
            padding: 1.8rem;

            & > a:hover {
                color: #fff;
            }
        }

        &--icon {
            display: block;
        }
    }
    .is-active {
        color: #fff;
    }
}

@media screen and (max-width: 525px) {
    .navbar {
        padding: 2.5rem $gutter/3;
    }
    .banner {
        padding: 6rem $gutter/3 12rem $gutter/3;
        text-align: center;
    }
}